.slidePreviewDiv{
    background-color: blue;
}

.slidePreviewDivSmall{
    background-color: blue;
}

.slidePreviewDivSmall h1{
    color:#FFFF54;
}

.slidePreviewDivSmall h2{
    color: #FFFF54;
}

.specialDivForThemes h1{
    color: black;
}

 h1{
    color: #FFFF54;
 }

 h2{
    color: #FFFF54;
 }

 p{
    color: #FFFF54;
 }

 li{
    color: #FFFF54;
 }

 .slidePreviewDivSmall{
     color: #FFFF54;
     border: solid black;
 }

 .slidePreviewDiv{
    color: #FFFF54;
    border: solid black;
 }