.slidePreviewDiv{
    background-color: blue;
}

.slidePreviewDivSmall{
    background-color: blue;
}

.slidePreviewDivSmall h1{
    color: rgb(4, 4, 151);
}

.slidePreviewDivSmall h2{
    color: rgb(4, 4, 151);
}

.specialDivForThemes h1{
    color: black;
}

 h1{
     color: rgb(4, 4, 151);
 }

 h2{
    color: rgb(4, 4, 151);
 }

 ul{
    color: rgb(4, 4, 151);
 }