.slidePreviewDiv{
    background-color: #65C7FC;
}

.slidePreviewDivSmall{
    background-color: #65C7FC;
}

.slidePreviewDivSmall h1{
    color: #DCF1FC;
}

.slidePreviewDivSmall h2{
    color: #DCF1FC;
}

.specialDivForThemes h1{
    color: black;
}

 h1{
     color: #DCF1FC;
 }

 h2{
    color: #DCF1FC;
 }

 ul{
    color: #DCF1FC;
 }

 .slidePreviewDivSmall{
    color: #DCF1FC;
    border: solid black;
}

.slidePreviewDiv{
   color: #DCF1FC;
   border: solid black;
}

 .chechForColorInpresList{
    color: #DCF1FC;
}

.stayBlackClass{
    color: black;
}