.slidePreviewDiv{
    background-color: #66CC00;
}

.slidePreviewDivSmall{
    background-color: #66CC00;
}

.slidePreviewDivSmall h1{
    color: darkgreen
}

.slidePreviewDivSmall h2{
    color: darkgreen
}

.specialDivForThemes h1{
    color: black;
}

 h1{
    color: darkgreen
 }

 h2{
    color: darkgreen
 }

 ul{
    color: darkgreen
 }