.slidePreviewDiv{
    background-color: green;
}

.slidePreviewDivSmall{
    background-color: green;
}

.slidePreviewDivSmall h1{
    color: black;
}

.slidePreviewDivSmall h2{
    color: black;
}

.specialDivForThemes h1{
    color: black;
}

 h1{
    color: black;
 }

 h2{
    color: black;
 }

 p{
    color: black;
 }

 li{
    color: black;
 }
 
.slidePreviewDivSmall{
    color: black;
    border: solid black;
}

.slidePreviewDiv{
   color: black;
   border: solid black;
}