.slidePreviewDiv{
    background-color: orange;
}

.slidePreviewDivSmall{
    background-color: orange;
}

.slidePreviewDivSmall h1{
    color: white;
}

.slidePreviewDivSmall h2{
    color: white;
}

.specialDivForThemes h1{
    color: black;
}

 h1{
    color: white;
 }

 h2{
    color: white;
 }

 p{
    color:white;
 }

 li{
    color: white;
 }
 
.slidePreviewDivSmall{
    color: white;
    border: solid black;
}

.slidePreviewDiv{
   color: white;
   border: solid black;
}