.slidePreviewDiv{
    text-align: center;
    width: auto;
    height: 500px;
    background-color: white;
    margin: 10px 10px 10px 10px;
}

button{
    display: inline-block;
    width: 300px;
    height: 100px;
    margin: 6px 4px 4px 4px;
    background-color: darkgray;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    border-width: 3px;
    border-color: gray;
    border-radius: 7px;
}

body{
    text-align: center;
    min-width:1000px;
    width: auto !important;  
    width:1000px;
 }

 h1{
     font-size: 150px; 
     color: black;
     padding-left: 180px;
     padding-right: 180px;
     padding-top: 60px;
 }

 h2{
    font-size: 100px; 
    padding-top: 60px;
    color: black;
 }

 img{
     width: auto;
     height: 450px;
 }

 ul{
    padding-top: 60px;
    font-size: 60px;
    padding-left: 60px;
    margin: 10px 300px 10px 350px; 
    text-align: left;
 }

 