.slidePreviewDiv{
    background-color: red;
}

.slidePreviewDivSmall{
    background-color: red;
}

.slidePreviewDivSmall h1{
    color: #FECCC0
}

.slidePreviewDivSmall h2{
    color: #FECCC0
}

.specialDivForThemes h1{
    color: black;
}

 h1{
     color: #FECCC0
 }

 h2{
    color: #FECCC0
 }

 ul{
    color: #FECCC0
 }

 .slidePreviewDivSmall{
    color: #DCF1FC;
    border: solid black;
}

.slidePreviewDiv{
   color: #DCF1FC;
   border: solid black;
}

 .chechForColorInpresList{
     color: #FECCC0;
 }

 .stayBlackClass{
     color: black;
 }